@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 246, 233;
  --background-end-rgb: 255, 246, 233;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 246, 233;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:var(--background-end-rgb);
}

body h3{
 font-weight: bold;
}

.scrolled{
  background:rgb(167, 3, 0);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}